*{
margin: 0;
padding: 0;
}

.header_outer_container {
  background-color: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  height: 68px;
}

.header_left ul,
.header_right ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.netflix-logo {
  width: 130px;
}

.header_left li {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.header_right svg {
  color: white;
  font-size: 30px;
  cursor: pointer;
}